<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pandami</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container clr-nav">

                <a class="nav-link text-dark padding-sides" asp-area="" asp-controller="PAFeats" asp-action="HomeFeatsHome" asp-route-id="@ViewBag.IdMembre">  <img src="~/logo.png" alt="test" /></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-sides" asp-area="" asp-controller="PAFeats" asp-action="HomeFeatsHome" asp-route-id="@ViewBag.IdMembre">Home Feats Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-sides" asp-area="" asp-controller="PAFeats" asp-action="HomeFeatsHome2" asp-route-id="@ViewBag.IdMembre">My Feats Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-sides" asp-area="" asp-controller="PAFeats" asp-action="MesFeats" asp-route-id="@ViewBag.IdMembre">My Feats GIFTEE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-sides" asp-area="" asp-controller="PAFeats" asp-action="MesFeatsHelper" asp-route-id="@ViewBag.IdMembre">My Feats HELPER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark padding-sides" asp-area="" asp-controller="PAMembres" asp-action="profil" asp-route-id="@ViewBag.IdMembre">Mon Profil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container container-main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


        <footer class="footer text-muted">

            &copy; 2021 - Pandami - <a asp-area="" asp-controller="PAMembres" asp-action="Login">Login</a>

        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
