@model IEnumerable<Pandami.Models.Disponibilite>

@{
    ViewData["Title"] = "Liste de vos disponibilités";
}

<h1>Dispo, test id = @ViewBag.IdMembre</h1>

<p>
    <a asp-action="DispoAjout" asp-route-id=@ViewBag.IdMembre>Ajouter une disponibilité</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebutHeure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinHeure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValiditeDebutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValiditeFinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jour.NomDuJour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebutHeure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinHeure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValiditeDebutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValiditeFinDate)
            </td>
            <td>
                <form asp-action="Dispo" method="post">
                     <input type="hidden" name ="dispoId" value="@item.Id" />
                      <input type="hidden" name="membreId" value="@item.membre.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                </form>
                
            </td>
        </tr>
}
    </tbody>
</table>
