@model IEnumerable<Pandami.Models.Membre>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Membres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover table-sm table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inscription.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexe.NomSexe)
                </td>
            </tr>
        }
    </tbody>
</table>
