

@{
}
<body>
    <div class="container">
        <form asp-action="Pref" method="post">

            @foreach (var item in @ViewBag.CheckType)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="CheckBoxes"
                               value="@item.Value"
                               @if (@ViewBag.Verif > 0) { @if (@ViewBag.SelectType.Contains(item.Value)) { <text> checked </text>  }  } /> - @item.Text
                        </label>
                    </div>

                }
            <div class="form-group">
                <label >Rayon d'action en kilomètre</label>
                <input name="rayon" size="30" value="@ViewBag.rayon"/>
                
            </div>

            <div class="form-group text-center">

                <input type="hidden" name="membreId" value="@ViewBag.IdMembre" />

                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>



        </form>
    </div>
</body>