@model Pandami.Models.PreferenceAide

@{
    ViewData["Title"] = "Pref";
}

<h1>Pref</h1>

<div>
    <h4>PreferenceAide</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RayonActionKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RayonActionKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValiditeDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValiditeDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValiditeFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValiditeFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
