@model Pandami.Models.Feat

@{
    ViewData["Title"] = "Create";

}

<p></p>
<h1>Create</h1>

<h4>Feat</h4>
<div>   Ca va marcher @Model.Createur.Nom @ViewBag.AdresseCreateur </div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Createur" value="@Model.Createur.Id" />

            <div class="form-group">
                <label class="control-label">Nom du Giftee : @Model.Createur.Nom</label>
            </div>

            <div class="form-group">
                <label>Activité </label>
                <label asp-for="Type" class="control-label">Aide demandée</label>
                <select asp-for="Type" asp-items="@ViewBag.TypesAide" id="maListe">
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Materiel" class="control-label"></label>
                <select asp-for="Materiel" asp-items="@ViewBag.Materiels" id="maListe">
                    <option value="null">      </option>
                </select>
                <span asp-validation-for="Materiel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealisationDate" class="control-label"></label>
                <input asp-for="RealisationDate" class="form-control" value="2020-01-01" />
                <span asp-validation-for="RealisationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureDebut" class="control-label"></label>
                <input asp-for="HeureDebut" class="form-control" value="14:00" />
                <span asp-validation-for="HeureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureFin" class="control-label"></label>
                <input asp-for="HeureFin" class="form-control" value="20:00" />
                <span asp-validation-for="HeureFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <select asp-for="Adresse" asp-items="@ViewBag.Adresse" id="maListe">
                    <option value="@Model.Createur.Adresse.NomDeVoie" selected="@Model.Createur.Adresse.NomDeVoie">@Model.Createur.Adresse.NomDeVoie</option>
                </select>
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SommePrevoir" class="control-label"></label>
                <input asp-for="SommePrevoir" class="form-control" />
                <span asp-validation-for="SommePrevoir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HomeFeatsHome">Back to List</a>
</div>
<!--script-- src="https://code.jquery.com/jquery-1.12.4.min.js"></!--script-->
<!--script-- type="text/javascript">
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            var val = $("input[name='CategorieRadio']:checked").val();
            /* if (val == "Interieur") {
                 alert("Votre service sera : " + val);
            }
             if (val == "Exterieur") {
                 alert("Votre service sera : " + val);
             }
             */
            //var liste = document.getElementById("Id")
        });


    });

</!--script-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
