@model Pandami.Models.Feat

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Feat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealisationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealisationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnCoursRealisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnCoursRealisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinFeatHelper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinFeatHelper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClotureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClotureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SommePrevoir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SommePrevoir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SommeAvancee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SommeAvancee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SommeRembourseeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SommeRembourseeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnulationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnulationDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
