@model Pandami.Models.Feat

@{
    ViewData["Title"] = "Details";
}

<h1>Feat n°@Model.Id</h1>
<h4 align="right">Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<div>
    @if (@ViewBag.Affichage == 2 && @ViewBag.Reponses.Count > 0 && Model.RealisationDate.Date == DateTime.Now.Date && Model.FinFeatHelper == null)
    {
        <form asp-action="MajFeat" asp-controller="Side" method="post">
            <div>
                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                <input type="hidden" name="IdFeat" value="@Model.Id" />
                @{
                    string phrase = "";
                    if (true)
                    {
                        if (Model.EnCoursRealisation == null)
                        {
                            phrase = "Commencer le feat";
                        }
                        else if (Model.SurPlace == null)
                        {

                            phrase = "Je suis sur place";

                        }
                        else if (Model.FinFeatHelper == null)
                        {

                            phrase = "J'ai fini"; ;

                        }
                    }
                }
                <input type="submit" value="@phrase" class="btnDeroulement" />
            </div>
        </form>
        <hr />
    }
    @if (@ViewBag.Affichage == 1 && Model.RealisationDate.Date == DateTime.Now.Date && Model.FinFeatHelper != null)
    {
        <form asp-action="MajFeat" asp-controller="Side" method="post">
            <div>
                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                <input type="hidden" name="IdFeat" value="@Model.Id" />
                <input type="submit" value="Cloturer le Feat" class="btn btn-secondary" />
            </div>
        </form>
        <hr />
    }

    <dl class="row padding-10">
        <dt class="col-sm-2">
            Giftee
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Createur.Prenom)  @Html.DisplayFor(model => model.Createur.Nom)
        </dd>
        <dt class="col-sm-2">
            Helper
        </dt>
        @if (ViewBag.Reponses.Count == 0)
        {
            <dd class="col-sm-10">

            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @ViewBag.PrenomHelper @ViewBag.NomHelper
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type.NomAide)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type.NomAide)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materiel.NomMateriel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materiel.NomMateriel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse.NomDeVoie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RealisationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RealisationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SommePrevoir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SommePrevoir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnnulationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnnulationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClotureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClotureDate)
        </dd>
    </dl>
    <table class="tableBouton">
        <thead>
            <tr>
                @if (@ViewBag.Reponses.Count == 0 && Model.Createur.Id != @ViewBag.IdMembre)
                {
                    <th>
                        <form asp-action="AccepterFeat" method="post">
                            <div>
                                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                                <input type="hidden" name="IdFeat" value="@Model.Id" />
                                <input type="submit" value="Accepter le Feat" class="btn btn-primary" />
                            </div>
                        </form>
                    </th>
                }

                @if (@ViewBag.Affichage == 1 && Model.AnnulationDate == null)//giftee
                {
                    <th>
                        <form asp-action="ModifFeatGiftee" method="post">
                            <div>
                                <input type="hidden" name="JeSuis" value="@ViewBag.Affichage" />
                                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                                <input type="hidden" name="IdFeat" value="@Model.Id" />
                                <input type="submit" value="Modifier le Feat" class="btn btn-primary" />
                            </div>
                        </form>
                    </th>
                    <th>
                        <form asp-action="AnnulationFeat" method="post">
                            <div>
                                <input type="hidden" name="JeSuis" value="@ViewBag.Affichage" />
                                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input type="submit" value="Annuler le Feat" class="btn btn-danger" />
                            </div>
                        </form>
                    </th>
                }
                @if (@ViewBag.Affichage == 2 && @ViewBag.Reponses.Count > 0) //helper
                {
                    <th>
                        <form asp-action="ModifFeatGiftee" method="post">
                            <div>
                                <input type="hidden" name="JeSuis" value="@ViewBag.Affichage" />
                                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                                <input type="hidden" name="IdFeat" value="@Model.Id" />
                                <input type="submit" value="Modifier" class="btn btn-primary" />
                            </div>
                        </form>
                    </th>
                    <th>
                        <form asp-action="DesistementFeat" method="post">
                            <div>
                                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                                <input type="hidden" name="IdFeat" value="@Model.Id" />
                                <input type="submit" value="Me désister" class="btn btn-danger" />
                            </div>
                        </form>
                    </th>

                }
                @if (@ViewBag.Reponses.Count > 0 && Model.RealisationDate.Date < DateTime.Now.Date)
                {
                    <th>
                        <form asp-controller="Side" asp-action="Litige" method="post">
                            <div>
                                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                                <input type="hidden" name="IdFeat" value="@Model.Id" />
                                <input type="submit" value="Litige" class="btn btn-secondary" />
                            </div>
                        </form>
                    </th>
                }
            </tr>
        </thead>
    </table>


</div>