@model IEnumerable<Pandami.Models.Feat>


@{
    ViewData["Title"] = "Home Feats Home";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Hello hello</h1>
<div>@DateTime.Now</div>
<div>
    <a asp-action="Creation" asp-route-id="@ViewBag.Id">Créer un Feat</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Createur.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.NomAide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealisationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Createur.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.NomAide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealisationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>