@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "HomeFeatsHome2";
}

<h1>HomeFeatHome2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(ViewBag.NoResult)
{
<div> Aucun Feat ne correspond à vos préférences, les avez-vous bien renseignées ?</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reponses.FirstOrDefault().Helper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.NomAide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealisationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClotureDate)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                Feat n°
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createur.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.NomAide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealisationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClotureDate)
            </td>
            <td>
                <form asp-action="Details">
                    <div>
                        <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                        <input type="hidden" name="IdFeat" value="@item.Id" />
                        <input type="submit" value="Accepter le Feat" class="btn btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
