@model IEnumerable<Pandami.Models.Feat>


@{
    ViewData["Title"] = "Home Feats Home";
}
<h1>Home Feats Home</h1>
<h4>Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<hr />
<div>
    <form asp-action="Creation">
        <div>
            <input type="hidden" name="Id" value="@ViewBag.IdMembre" />
            <input type="submit" value="Créer un Feat" class="btn-creationFeat" />
        </div>
    </form>
</div>
<hr />
<form asp-action="HomeFeatsHome" class="padding-10">
    <p>
        <select name="recherche" asp-items="@ViewBag.Type" class="padding-10">
            <option value="">Tous les types d'aide</option>
        </select>
        <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />



        <label for="start" class="padding-left-big">Jour du Feat :</label>

        <input type="date" name="date"
               value="@DateTime.Now.Date"
               min="@DateTime.Now.Date" max="2030-12-31" class="padding-10">

        <input type="submit" value="Filtrer" class="margin-sides btn btn-primary"/>

    </p>
</form>

<table class="table table-striped table-hover table-sm table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reponses.FirstOrDefault().Helper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.NomAide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealisationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Feat n°
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Createur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.NomAide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealisationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                    @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                </td>
                <td>
                    <form asp-action="Details">
                        <div>
                            <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="submit" value="Accepter le Feat" class="btn btn-primary" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>