@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "Mes Feats GIFTEE";
}
<h1>MES FEATS EN TANT QUE GIFTEE</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                GIFTEE
            </th>
            <th>
                HELPER
            </th>
            <th>
                TYPE D'AIDE DEMANDEE
            </th>
            <th>
                JOUR DU FEAT
            </th>
            <th>
                DEBUT DU FEAT
            </th>
            <th>
                FIN DU FEAT
            </th>
            <th>
                ADRESSE
            </th>
            <th>
                SOMME A PREVOIR (ou estimation)
            </th>
            <th>
                DATE ANNULATION
            </th>
            <th>
                ID FEAT
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Createur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.NomAide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealisationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SommePrevoir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnulationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.AcceptationDate == null)
                    {
                        <a asp-action="ModifFeat" asp-route-id="@item.Id">Modification du Feat en attente</a>
                    }
                    else
                    {
                        <a asp-action="ModifFeatGiftee" asp-route-id="@item.Id">Modification du Feat accepté</a>
                    }
                    <a asp-action="AnnulationFeat" asp-route-id="@item.Id"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>