@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "Mes Feats en tant que Helper";
}
<h1>Mes Feats - Helper</h1>
<h4>Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<hr />
<div>
    <form asp-action="Creation">
        <div>
            <input type="hidden" name="Id" value="@ViewBag.IdMembre" />
            <input type="submit" value="Créer un Feat" class="btn-creationFeat" />
        </div>
    </form>
</div>
<hr />
<table class="table table-striped table-hover table-sm table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reponses.FirstOrDefault().Helper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.NomAide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealisationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClotureDate)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.FinFeatHelper != null || item.AnnulationDate != null)
            {
                <tr class="realisedFeat">
                    <td>
                        Feat n°
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createur.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.NomAide)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealisationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                        @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinFeatHelper)
                    </td>
                    <td>
                        <form asp-action="Details">

                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="hidden" name="IdMembre" value="@item.Reponses.FirstOrDefault().Helper.Id" />
                            <input type="submit" value="Détails" class="btn btn-primary" />
                        </form>
                        @if (@ViewBag.ListIdNegociationsEnCours.Contains(item.Id))
                        {

                            <form asp-action="VisualiserNegociation">
                                <input type="hidden" name="IdFeat" value="@item.Id" />
                                <input type="hidden" name="IdMembre" value="@item.Reponses.FirstOrDefault().Helper.Id" />
                                <input type="submit" value="Modification !" class="btn btn-danger" />
                            </form>

                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        Feat n°
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createur.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.NomAide)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealisationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                        @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinFeatHelper)
                    </td>


                    <td>
                        <form asp-action="Details">

                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="hidden" name="IdMembre" value="@item.Reponses.FirstOrDefault().Helper.Id" />
                            <input type="submit" value="Détails" class="btn btn-primary" />
                        </form>
                        @if (@ViewBag.ListIdNegociationsEnCours.Contains(item.Id))
                        {

                            <form asp-action="VisualiserNegociation">
                                <input type="hidden" name="IdFeat" value="@item.Id" />
                                <input type="hidden" name="IdMembre" value="@item.Reponses.FirstOrDefault().Helper.Id" />
                                <input type="submit" value="Négociation du Feat" class="btn btn-success" />
                            </form>

                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>