@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "Mes Feats en tant que Helper";
}
<h1>MES FEATS EN TANT QUE HELPER</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                GIFTEE
            </th>
            <th>
                TYPE D'AIDE DEMANDEE
            </th>
            <th>
                JOUR DU FEAT
            </th>
            <th>
                DEBUT DU FEAT
            </th>
            <th>
                FIN DU FEAT
            </th>
            <th>
                ADRESSE
            </th>
            <th>
                SOMME A PREVOIR (ou estimation)
            </th>
            <th>
                DATE ACCEPTATION
            </th>
            <th>
                NOM HELPER
            </th>
            <th>
                DATE ANNULATION
            </th>
            <th>
                ID FEAT
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Createur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.NomAide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealisationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SommePrevoir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcceptationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnulationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="DesistementFeat" asp-route-id="@item.Id"> Me désister du Feat </a>
                </td>
                <div>
                    <td>
                        <form asp-action="ModifFeatHelper">
                            <input type="hidden" name="IdReponse" value="@item.Id" />
                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="hidden" name="IdMembre" value="@item.Id" />
                            <input type="submit" value="Modifier le Feat" class="btn btn-danger" />
                        </form>
                    </td>
                    @if (@ViewBag.ListIdNegociationsEnCours.Contains(item.Id))
                    {
                        <td>
                            <form asp-action="VisualiserNegociation">
                                <input type="hidden" name="IdFeat" value="@item.Id" />
                                <input type="hidden" name="IdMembre" value="@item.Id" />
                                <input type="submit" value="Négociation du Feat" class="btn btn-danger" />
                            </form>
                        </td>
                    }
                </div>
            </tr>
        }

    </tbody>
</table>