@model IEnumerable<Pandami.Models.ReponseHelper>

@{
    ViewData["Title"] = "Mes Feats";
}

<table class="table">
    <thead>
        <tr>
            <th>
                GIFTEE
            </th>
            <th>
                TYPE D'AIDE DEMANDEE
            </th>
            <th>
                JOUR DU FEAT
            </th>
            <th>
                DEBUT DU FEAT
            </th>
            <th>
                FIN DU FEAT
            </th>
            <th>
                ADRESSE
            </th>
            <th>
                SOMME A PREVOIR (ou estimation)
            </th>
            <th>
                DATE ACCEPTATION
            </th>
            <th>
                NOM HELPER
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.Createur.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.Type.NomAide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.RealisationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.HeureFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.Adresse.NomDeVoie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feat.SommePrevoir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Helper.Nom)
            </td>
            <td>
                <a asp-action="ModifFeat" asp-route-id="@item.Id">Modification du Feat</a>
                <a asp-action="Details" asp-route-id="@@item.Id"> Details </a>
                <a asp-action="AnnulationFeat" asp-route-id="@item.Id"> Delete </a>



            </td>
        </tr>
        }
    </tbody>
</table>