@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "Mes Feats GIFTEE";
}

<h1>MES FEATS EN TANT QUE GIFTEE</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Createur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reponses.FirstOrDefault().Helper.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.NomAide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealisationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SommePrevoir)
            <th>
                @Html.DisplayNameFor(model => model.AnnulationDate)
            </th>
            <th>
                ID FEAT
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Createur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.NomAide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealisationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                    @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                    @Html.DisplayFor(modelItem => item.Adresse.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SommePrevoir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnulationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>

                    <form asp-action="Details">

                        <input type="hidden" name="IdFeat" value="@item.Id" />
                        <input type="hidden" name="IdMembre" value="@item.Id" />
                        <input type="submit" value="Modifier le Feat" class="btn btn-primary" />
                    </form>
                    <a asp-action="AnnulationFeat" asp-route-id="@item.Id"> Delete </a>
                    @if (@ViewBag.ListIdNegociationsEnCours.Contains(item.Id))
                    {

                        <form asp-action="VisualiserNegociation">
                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="hidden" name="IdMembre" value="@item.Createur.Id" />
                            <input type="submit" value="Négociation du Feat" class="btn btn-success" />
                        </form>

                    }
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>