@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "Mes Feats GIFTEE";
}

<h1>MES FEATS EN TANT QUE GIFTEE
    </h1>
<h4 align="right">Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reponses.FirstOrDefault().Helper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.NomAide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealisationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClotureDate)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ClotureDate != null || item.AnnulationDate != null)
            {
                <tr class="realisedFeat">
                    <td>
                        Feat n°
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createur.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.NomAide)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealisationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                        @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClotureDate)
                    </td>
                    <td>
                        <form asp-action="Details">

                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="hidden" name="IdMembre" value="@item.Createur.Id" />
                            <input type="submit" value="Détails" class="btn btn-primary" />
                        </form>
                        @if (@ViewBag.ListIdNegociationsEnCours.Contains(item.Id))
                        {
                            <form asp-action="VisualiserNegociation">
                                <input type="hidden" name="IdFeat" value="@item.Id" />
                                <input type="hidden" name="IdMembre" value="@item.Createur.Id" />
                                <input type="submit" value="Négociation du Feat" class="btn btn-success" />
                            </form>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        Feat n°
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Createur.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reponses.FirstOrDefault().Helper.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.NomAide)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealisationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureDebut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeureFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse.NumeroDeVoie)
                        @Html.DisplayFor(modelItem => item.Adresse.NomDeVoie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClotureDate)
                    </td>
                    <td>
                        <form asp-action="Details">

                            <input type="hidden" name="IdFeat" value="@item.Id" />
                            <input type="hidden" name="IdMembre" value="@item.Createur.Id" />
                            <input type="submit" value="Détails du Feat" class="btn btn-primary" />
                        </form>
                        @if (@ViewBag.ListIdNegociationsEnCours.Contains(item.Id))
                        {
                            <form asp-action="VisualiserNegociation">
                                <input type="hidden" name="IdFeat" value="@item.Id" />
                                <input type="hidden" name="IdMembre" value="@item.Createur.Id" />
                                <input type="submit" value="Négociation du Feat" class="btn btn-success" />
                            </form>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
