@model IEnumerable<Pandami.Models.Feat>

@{
    ViewData["Title"] = "Mes Feats en tant que Helper";
}
<h1>MES FEATS EN TANT QUE HELPER</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                GIFTEE
            </th>
            <th>
                TYPE D'AIDE DEMANDEE
            </th>
            <th>
                JOUR DU FEAT
            </th>
            <th>
                DEBUT DU FEAT
            </th>
            <th>
                FIN DU FEAT
            </th>
            <th>
                ADRESSE
            </th>
            <th>
                SOMME A PREVOIR (ou estimation)
            </th>
            <th>
                DATE ACCEPTATION
            </th>
            <th>
                NOM HELPER
            </th>
            <th>
                DATE ANNULATION
            </th>
            <th>
                ID FEAT
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.Createur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.Type.NomAide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.RealisationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.HeureDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.HeureFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.Adresse.NomDeVoie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.SommePrevoir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcceptationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Helper.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.AnnulationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feat.Id)
                </td>
                <td>
                    <a asp-action="DesistementFeat" asp-route-id="@item.Id"> Me désister du Feat </a>
                </td>
                <td>
                    <form asp-action="Details">
                        <input type="hidden" name="IdFeat" value="@item.Feat.Id" />
                        <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre" />
                        
                        <input type="submit" value="Information du Feat" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>