@model Pandami.Models.Feat

@{
    ViewData["Title"] = "Modifier mon Feat";
}

<h1>Edit</h1>
<label>Id du Feat @Model.Id  Id du créateur @Model.Createur.Id  Id ud membre = @ViewBag.IdMembre</label>
<h4>Feat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifierMonFeatGiftee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label class="control-label">Nom du Giftee : @Model.Createur.Nom</label>
            </div>
            
            
            <div class="form-group">
                <label>Activité </label>

                <label asp-for="Type" class="control-label">Aide demandée = @Model.Type.NomAide</label>

                

            </div>
            <div class="form-group">
                <label asp-for="Materiel" class="control-label"> = @Model.Materiel.NomMateriel</label>
                

            </div>
            <div class="form-group">
                <label asp-for="RealisationDate" class="control-label"></label>
                <input asp-for="RealisationDate" class="form-control" />
                <span asp-validation-for="RealisationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureDebut" class="control-label"></label>
                <input asp-for="HeureDebut" class="form-control"/>
                <span asp-validation-for="HeureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureFin" class="control-label"></label>
                <input asp-for="HeureFin" class="form-control" />
                <span asp-validation-for="HeureFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"> Adresse du feat = @Model.Adresse.NumeroDeVoie @Model.Adresse.NomDeVoie @Model.Adresse.Ville </label>
                
                
                
            </div>
            <div class="form-group">
                <label asp-for="SommePrevoir" class="control-label"></label>
                <input asp-for="SommePrevoir" class="form-control" />
                <input type="hidden" asp-for="SommePrevoir" />
                <span asp-validation-for="SommePrevoir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="JeSuis" value="@ViewBag.JeSuis" />
                <input type="hidden" name="IdMembre" value="@ViewBag.IdMembre"/>
                <input type="hidden" asp-for="Adresse" />
                <input type="hidden" asp-for="Type" />
                <input type="hidden" asp-for="Materiel" />
                <input type="hidden" asp-for="Createur" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreationDate" />
                <input type="hidden" asp-for="AcceptationDate" />
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
