@model Pandami.Models.Negociation

@{
    ViewData["Title"] = "Négociation proposée";
}

<h1>Negociation</h1>

Id du Feat  @Model.feat.Id Id du Demandeur @Model.DemandeurId 
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.feat.RealisationDate)
            DATE PREVUE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.feat.RealisationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewDateProposee)
            DATE PROPOSEE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewDateProposee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.feat.HeureDebut)
            HEURE DBT PREVUE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.feat.HeureDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDbtProposee)
            HEURE DBT PROPOSEE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureDbtProposee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.feat.HeureFin)
            HEURE FIN PREVUE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.feat.HeureFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeureFinProposee)
            HEURE FIN PROPOSEE
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeureFinProposee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.feat.Type.NomAide)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.feat.Type.NomAide)
        </dd>
    </dl>
    <form asp-action="AccepterNegociation" method="post">
        <div>
            <input type="hidden" name="IdMembre" value="@Model.RepondeurId" />
            <input type="hidden" name="IdFeat" value="@Model.feat.Id" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="submit" value="Accepter la modification demandée" class="btn btn-primary" />
        </div>
    </form>
    <form asp-action="RefuserNegociation" method="post">
        <div>
            <input type="hidden" name="IdMembre" value="@Model.RepondeurId" />
            <input type="hidden" name="IdFeat" value="@Model.feat.Id" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="submit" value="Refuser la modification demandée" class="btn btn-primary" />
        </div>
    </form>
</div>